@import url('./globals.css');

body{
	overflow: hidden;
}

.main{
	display: flex;
	width: 100%;
	height: 100vh;
}

.side-bar{
	width: 20vw;
	flex-shrink: 0;
	background: rgba(245, 245, 245, 1);
	height: 100vh;
	padding: 40px 10px 20px 10px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	overflow-y: auto;
}

.side-bar-title{
	font-size: 32px; 
	font-family: 'Poppins-Light';
	color: rgba(246, 94, 44, 1);
	text-align: center;
}

.side-bar-sub-menu{
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: Poppins;
}

.side-bar-sub-menu-title{
	font-size: 20px;
}

.side-bar-sub-menu-items{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.side-bar-sub-menu-items-item{
	height: 48px;
	border-radius: 6px;
	font-family: Poppins-Regular;
	border: none;
	cursor: pointer;
	padding: 4px 16px;
	text-align: left;
}

.side-bar-sub-menu-items-item.active {
	background: rgba(246, 94, 44, 1);
	color: white;
}

.side-bar-sub-menu-items-item.active:hover {
	background: rgba(246, 94, 44, 1);
	color: white;
	cursor: default;
}

.side-bar-sub-menu-items-item:hover {
	background: rgba(230, 230, 230, 1);
}

.main-content{
	flex: 1;
	height: 100vh;
	padding: 24px 42px;
	display: flex;
	flex-direction: column;
	max-width: 80vw;	
	overflow-y: auto;
}

.user-nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-user-section{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.nav-user-profile-picture{
	background: rgba(217, 217, 217, 1);
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

.nav-user-profile-picture-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.nav-user-details-name{
	font-size: 16px;
	font-family: Poppins;
	font-weight: 500;
}

.nav-user-profile-actions{
	display: flex;
	gap: 12px;
	align-items: center;
}

.logout-button{
	display: flex;
	gap: 4px;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	color: rgba(239, 51, 51, 1);
}

.logout-button:hover{
	text-decoration: underline;
}

.nav-user-details-view-prof-button:hover{
	font-size: 13px; 
	color: rgba(37, 81, 227, 1); 
	font-family: 'Poppins';
	text-decoration: underline;
	cursor: pointer;
}

.stats-list{
	display: flex;
	justify-content: space-between;
	gap: 32px;
	margin-bottom: 56px;
}

.stat-card {
	width: 25%;
	background: rgba(255, 238, 232, 1);
	border-radius: 10px;
	height: 100px;
	display: flex;
}

.stat-card-style-bar{
	width: 20%;
	background: rgba(246, 94, 44, 1);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-card-data-container{
	padding: 10px 20px;
	flex-grow: grow;
	width: 80%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.stat-card-data{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.stat-card-data-title{
	font-family: Poppins;
	font-size: 18px;
	color: rgba(246, 94, 44, 1);
}

.stat-card-data-number{
	font-size: 24px; 
	color: rgba(246, 94, 44, 1);
}

.chart{
	width: 100%;
	margin-bottom: 56px;
}

.stat-tables{
	display: flex; 
	gap: 32px;
}

.top-interested-events{
	background: rgba(245, 245, 245, 1);
	padding: 40px 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.top-interested-events-list{
	display: flex;
	flex-direction: column;
	gap: 24px;
	height: auto;
	justify-content: space-between;
	flex: 1;
}

.top-interested-events-title{
	margin-bottom: 40px;
	font-size: 16px;
}

.top-interested-events-data{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Poppins-Regular;
	min-width: 240px;
	font-size: 14px;
}

.most-engaged-users{
	border: 2px solid rgba(235, 235, 237, 1);
	border-radius: 10px;
	padding: 24px 32px;
	width: 420px;
}

.most-engaged-users-desc{
	margin-bottom: 28px;
}

.most-engaged-users-desc-title{
	font-family: Poppins;
	font-size: 20px;
}

.most-engaged-users-desc-text{
	font-family: Poppins-Regular;
	color: rgba(113, 113, 122, 1);
}

.most-engaged-users-list{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.most-engaged-users-data{
	display: flex;
	justify-content: space-between;
}

.most-engaged-users-data-info{
	display: flex;
	gap: 12px; 
	align-items: center;
}

.most-engaged-users-data-img{
	width: 36px; 
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

.most-engaged-users-data-texts-name{
	font-family: Poppins;
}

.most-engaged-users-data-texts-email{
	font-size: 14px;
	font-family: Poppins-Regular;
	color: rgba(113, 113, 122, 1);
}

.most-engaged-users-data-stats{
	font-family: Poppins;
}

.table-scroll-wrapper {
  overflow: auto;
  max-width: 100%;
  min-width: 100%;
}

.users-table{
	border-collapse: collapse;
	border: 2px solid rgba(234, 236, 240, 1);
	border-radius: 8px;
	padding-left: 16px;
	max-width: 100%;
  	min-width: 100%;
}

.users-table-headers{
	width: max-content;
	text-align: left;
	border-bottom: 2px solid rgba(234, 236, 240, 1);
}

.users-table-headers th{
	height: 48px;
  	text-align: left;
  	white-space: nowrap;
  	font-size: 16px;
  	font-family: Poppins-Regular;
  	font-weight: 200;
}

.users-table-headers th:first-child{
	padding-left: 64px;
}

.users-table-data td{
	height: 72px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	font-family: Poppins-Regular;
}

.users-table-data td:first-child{
	padding-left: 10px;
}

.td-status-Active{
	padding: 4px 4px;
	background: rgb(220, 252, 231);
	color: rgb(34, 197, 94);
	max-width: 60px;
	text-align: center;
	border-radius: 20px;
}

.td-status-Deleted{
	padding: 4px 4px;
	background: rgb(254, 226, 226);
	color: rgb(239, 68, 68);
	max-width: 80px;
	text-align: center;
	border-radius: 20px;
}

.user-table-data-image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	border: 1px solid rgba(128, 128, 128, 0.5);
}

.user-actions{
	display: flex;
	gap: 4px;
}

.delete-user-button, .edit-user-button, .approve-event-table-button, .reject-event-table-button{
	padding: 8px;
	height: 40px;
	border: none;
	background: none;
	cursor: pointer;
	border-radius: 8px;
	max-width: 40px;
}

.delete-user-button:hover, .reject-event-table-button:hover{
	background: rgb(254, 226, 226);
}

.delete-user-button:hover svg path, .reject-event-table-button:hover svg path {
	stroke: rgb(239, 68, 68);
}

.edit-user-button:hover{
	background: rgb(219, 234, 254);
}

.edit-user-button:hover svg path {
	stroke: rgb(59, 130, 246);
}

.approve-event-table-button:hover{
	background: rgb(220, 252, 231);
}

.approve-event-table-button:hover svg path {
	stroke: rgb(34, 197, 94);
}

.user-management-overlay, .event-management-overlay{
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.18);
	top: 0;
	left: 0;
	z-index: 50;
	backdrop-filter: blur(1px);
}

#user-delete-overlay, #reject-event-overlay, #approve-event-overlay, #user-edit-overlay, #org-edit-overlay{
	visibility: hidden;
}


.user-delete-container, .reject-event-container, .approve-event-container{
	background: white;
	padding: 24px; 
	border-radius: 12px;
	display: flex;
	flex-direction: column;
}

.user-delete-container-info-heading, .reject-event-container-info-heading, .approve-event-container-heading{
	font-family: Poppins-Regular;
	margin-bottom: 8px;
	font-size: 18px;
}

.user-delete-container-info-text, .approve-event-container-info-text{
	font-family: Poppins-Regular;
	color: rgba(102, 112, 133, 1);
	font-size: 14px;
	margin-bottom: 24px;
	max-width: 352px;
}

.user-delete-controls, .reject-event-controls, .approve-event-controls{
	display: flex;
	height: 52px;
	gap: 12px;
}

.user-delete-button, .reject-event-button, .approve-event-button{
	border-radius: 8px;
	font-family: Poppins-Regular;
	flex: 1;
	cursor: pointer;
}

.user-delete-button.cancel, .reject-event-button.cancel, .approve-event-button.cancel{
	border: 2px solid rgba(208, 213, 221, 1);
	color: black;
	background: white;
}

.user-delete-button.cancel:hover, .reject-event-button.cancel:hover, .approve-event-button.cancel:hover{
	background: #f0f0f0;
}

.user-delete-button.confirm, .reject-event-button.confirm{
	border: none;
	background: rgba(239, 51, 51, 1);
	color: white;
}

.user-delete-button.confirm:hover, .reject-event-button.confirm:hover{
	background: rgba(200, 30, 30, 1);
}

.approve-event-button.confirm{
	background: rgb(34, 197, 94);
	color: white;
	border: none;
}

.approve-event-button.confirm:hover{
	background: rgb(22, 163, 74);
}

.user-edit-container{
	background: white;
	border: none;
	position: relative;
	height: 80%;
	width: 80%;
	max-width: 500px;
	border-radius: 12px;
}

.user-edit-container-content{
	display: flex;
	padding: 40px 80px;
	flex-direction: column;
	gap: 50px;
	width: 100%;
	height: 100%;
}

.user-edit-container-back{
	display: flex;
	gap: 8px;
	font-family: Poppins-Regular;
	font-size: 18px;
	position: absolute;
	top: 40px;
	left: 40px;
	background: none;
	border: none;
	align-items: center;
	cursor: pointer;
}

.user-edit-container-back:hover{
	text-decoration: underline;
}

.user-edit-container-title{
	font-size: 24px;
	font-family: Poppins-Light;
	flex: 0;
	text-align: center;
}

.user-edit-form{
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.user-edit-form-section-label{
	margin-bottom: 8px;
}

.user-edit-form-section-input{
	background: rgba(235, 235, 235, 1);
	width: 100%;
	height: 48px;
	border: none;
	background: rgba(235, 235, 235, 1);
	border-radius: 6px;
	padding-left: 12px;
	font-family: Poppins-Regular;
}

.user-edit-form-submit{
	margin-top: 18px;
	background: rgba(246, 94, 44, 1);
	color: white;
	height: 40px;
	width: 120px;
	align-self: center;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.user-edit-form-submit:hover{
	background: rgba(220, 75, 30, 1);
}

.reject-event-container-info-textarea{
	width: 340px;
	height: 120px;
	margin-bottom: 20px;
	border-radius: 6px;
	border: 2px solid rgba(128,128,128,0.5);
	resize: vertical;
	padding: 10px;
	font-family: Poppins-Regular;
}

.add-organization-button{
	display: flex;
	align-items: center;
	padding: 8px 15px;
	border-radius: 6px;
	background: rgba(246, 94, 44, 1);
	color: white;
	border: none;
	gap: 8px;
	height: 48px;
	font-size: 16px;
	font-family: 'Poppins-Light';
	cursor: pointer;
}

.add-organization-button:hover{
	background: rgba(220, 75, 30, 1);
}