@import url('./globals.css');

body{
	overflow: hidden;
}

.main{
	display: flex;
	width: 100%;
	height: 100vh;
}

.side-bar{
	width: 20vw;
	flex-shrink: 0;
	background: rgba(245, 245, 245, 1);
	height: 100vh;
	padding: 40px 10px 20px 10px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	overflow-y: auto;
}

.side-bar-title{
	font-size: 32px; 
	font-family: 'Poppins-Light';
	color: rgba(246, 94, 44, 1);
	text-align: center;
}

.side-bar-sub-menu{
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: Poppins;
}

.side-bar-sub-menu-title{
	font-size: 20px;
}

.side-bar-sub-menu-items{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.side-bar-sub-menu-items-item{
	height: 48px;
	border-radius: 6px;
	font-family: Poppins-Regular;
	border: none;
	cursor: pointer;
	padding: 4px 16px;
	text-align: left;
}

.side-bar-sub-menu-items-item.active {
	background: rgba(246, 94, 44, 1);
	color: white;
}

.side-bar-sub-menu-items-item.active:hover {
	background: rgba(246, 94, 44, 1);
	color: white;
	cursor: default;
}

.side-bar-sub-menu-items-item:hover {
	background: rgba(230, 230, 230, 1);
}

.main-content{
	flex: 1;
	height: 100vh;
	padding: 24px 42px;
	display: flex;
	flex-direction: column;
	max-width: 80vw;	
	overflow-y: auto;
}

.user-nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-user-section{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.nav-user-profile-picture{
	background: rgba(217, 217, 217, 1);
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

.nav-user-profile-picture-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.nav-user-details-name{
	font-size: 16px;
	font-family: Poppins;
	font-weight: 500;
}

.nav-user-profile-actions{
	display: flex;
	gap: 12px;
	align-items: center;
}

.logout-button{
	display: flex;
	gap: 4px;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	color: rgba(239, 51, 51, 1);
}

.logout-button:hover{
	text-decoration: underline;
}

.nav-user-details-view-prof-button:hover{
	font-size: 13px; 
	color: rgba(37, 81, 227, 1); 
	font-family: 'Poppins';
	text-decoration: underline;
	cursor: pointer;
}

.stats-list{
	display: flex;
	justify-content: space-between;
	gap: 32px;
	margin-bottom: 56px;
}

.stat-card {
	width: 25%;
	background: rgba(255, 238, 232, 1);
	border-radius: 10px;
	height: 100px;
	display: flex;
}

.stat-card-style-bar{
	width: 20%;
	background: rgba(246, 94, 44, 1);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.stat-card-data-container{
	padding: 10px 20px;
	flex-grow: grow;
	width: 80%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.stat-card-data{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.stat-card-data-title{
	font-family: Poppins;
	font-size: 18px;
	color: rgba(246, 94, 44, 1);
}

.stat-card-data-number{
	font-size: 24px; 
	color: rgba(246, 94, 44, 1);
}

.chart{
	width: 100%;
	margin-bottom: 56px;
}

.stat-tables{
	display: flex; 
	gap: 32px;
}

.top-interested-events{
	background: rgba(245, 245, 245, 1);
	padding: 40px 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.top-interested-events-list{
	display: flex;
	flex-direction: column;
	gap: 24px;
	height: auto;
	justify-content: space-between;
	flex: 1;
}

.top-interested-events-title{
	margin-bottom: 40px;
	font-size: 16px;
}

.top-interested-events-data{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Poppins-Regular;
	min-width: 240px;
	font-size: 14px;
}

.most-engaged-users{
	border: 2px solid rgba(235, 235, 237, 1);
	border-radius: 10px;
	padding: 24px 32px;
	width: 420px;
}

.most-engaged-users-desc{
	margin-bottom: 28px;
}

.most-engaged-users-desc-title{
	font-family: Poppins;
	font-size: 20px;
}

.most-engaged-users-desc-text{
	font-family: Poppins-Regular;
	color: rgba(113, 113, 122, 1);
}

.most-engaged-users-list{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.most-engaged-users-data{
	display: flex;
	justify-content: space-between;
}

.most-engaged-users-data-info{
	display: flex;
	gap: 12px; 
	align-items: center;
}

.most-engaged-users-data-img{
	width: 36px; 
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

.most-engaged-users-data-texts-name{
	font-family: Poppins;
}

.most-engaged-users-data-texts-email{
	font-size: 14px;
	font-family: Poppins-Regular;
	color: rgba(113, 113, 122, 1);
}

.most-engaged-users-data-stats{
	font-family: Poppins;
}

.table-scroll-wrapper {
  overflow: auto;
  max-width: 100%;
  min-width: 100%;
}

.users-table{
	border-collapse: collapse;
	border: 2px solid rgba(234, 236, 240, 1);
	border-radius: 8px;
	padding-left: 16px;
	max-width: 100%;
  	min-width: 100%;
}

.users-table-headers{
	width: max-content;
	text-align: left;
	border-bottom: 2px solid rgba(234, 236, 240, 1);
}

.users-table-headers th{
	height: 48px;
  	text-align: left;
  	white-space: nowrap;
  	font-size: 16px;
  	font-family: Poppins-Regular;
  	font-weight: 200;
}

.users-table-headers th:first-child{
	padding-left: 64px;
}

.users-table-data td{
	height: 72px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	font-family: Poppins-Regular;
}

.users-table-data td:first-child{
	padding-left: 10px;
}

.user-table-data-image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.user-actions{
	display: flex;
	gap: 4px;
}

.delete-user-button, .edit-user-button{
	padding: 8px;
	height: 40px;
	border: none;
	background: none;
	cursor: pointer;
	border-radius: 8px;
}

.delete-user-button:hover{
	background: rgb(254, 226, 226);
}

.delete-user-button:hover svg path {
	stroke: rgb(239, 68, 68);
}

.edit-user-button:hover{
	background: rgb(219, 234, 254);
}

.edit-user-button:hover svg path {
	stroke: rgb(59, 130, 246);
}

