@import url('./globals.css');

body{
	overflow: hidden;
}

.main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main * {
	z-index: 50;
}

.login-popover{
	width: 406px;
	min-width: 406px;
	max-width: 406px;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(4px);  
	padding: 20px 32px 32px 32px;
	border-radius: 12px;
}

.login-title{
	text-align: center;
	margin-bottom: 20px;
	font-size: 44px;
	font-weight: medium;
	font-family: 'Poppins-Light';
	color: rgba(0,0,0,1);
}

.login-form{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sign-in-headers{
	margin-bottom: 32px;
}

.login-sign-in-text{
	font-size: 20px;
	padding: 2px;
}

.form-section{
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 24px;
}

.form-input{
	height: 48px;
	border-radius: 6px;
	background-color: white;
	border: none;
	font-size: 16px;
	padding-left: 17px;
	padding-right: 17px;
	width: 100%;
}

.password {
	padding-right: 50px;
}

.form-label{
	display: block;
	font-size: 16px;
	padding: 2px;
}

.password-eye{
	position: absolute;
	right: 10px;
	cursor: pointer;
	height: 100%;
	border: none;
	background: none;
}

.signup-text:hover{
	text-decoration: underline;
}

#particles-js{ z-index: 10; position:absolute; width: 100%; height: 100%; background-color: #fc825a; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }  
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }