@import url('./globals.css');

body {
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}

.main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins-Regular';
}

.main * {
	z-index: 50;
}

.register-popover{
	width: 406px;
	min-width: 406px;
	max-width: 406px;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(4px);  
	padding: 20px 32px 32px 32px;
	border-radius: 12px;
}

.register-title{
	text-align: center;
	margin-top: 45px;
	margin-bottom: 36px;
	font-size: 56px;
	font-weight: medium;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins-Light';
}

.register-form{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.register-headers{
	margin-bottom: 28px;
	font-family: Poppins-Light;
}

.register-text{
	font-size: 20px;
	padding: 2px;
}

.step-progress{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.circle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #bdbdbd;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	margin-right:20px;
}

.step.active .circle {
  background-color: #F65E2C;
}

.line {
  height: 1.5px;
  background-color: #000;
  width: 145px;
  margin-bottom: 25px
}

.basic-label, .setup-label {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
}

.step{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.register-part-1{
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 28px;
}

.form-section{
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.form-input{
	height: 47px;
	border-radius: 6px;
	background-color: rgba(235,235,235,1);
	color: rgba(0, 0, 0, 0.51);
	border: none;
	font-size: 16px;
	padding-left: 17px;
	padding-right: 17px;
	width: 100%;
}

.circle3{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background-color: #D9D9D9;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	margin-right:20px;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
}

.remove-profile-picture{
	position: absolute;
	border: none;
	background: none;
	border-radius: 6px;
	padding: 2px;
	top: 0px;
	right: -30px;
	cursor: pointer;
	background: white;
	display: none;
}

.remove-profile-picture:hover{
	background: rgba(235,235,235,1);
}

.register-profile-picture{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	display: none;
	object-fit: cover;
	z-index: 10;
}

.camera-icon{
	z-index: 0;
}

.profile-circle{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
}

.add-label{
	margin-top: 6px;
  	font-size: 14px;
  	font-weight: 400;
  	margin-right:16px;
  	color: rgba(37, 81, 227, 1);
  	cursor: pointer;
}

.add-label:hover{
	text-decoration: underline;
}

.password-eye{
	position: absolute;
	right: 10px;
	cursor: pointer;
	height: 100%;
	border: none;
	background: none;
}

.register-continue, .register-confirm{
	height: 48px; 
	font-size: 20px; 
	color: white; 
	background: #F65E2C; 
	border-radius: 6px; 
	border: none; 
	margin-bottom: 24px; 
	cursor:pointer; 
	width:100%;
}

.register-continue:hover, .register-confirm:hover{
	background: rgba(220, 75, 30, 1);
}

.register-part-2, .register-confirm{
	display: none;
}

.signin-text:hover{
	text-decoration: underline;
}

#particles-js{ z-index: 10; position:absolute; width: 100%; height: 100%; background-color: #fc825a; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }  
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }
